<div align="left">
  <h3 style="margin-left: 20px;"> Upload File </h3>
  <hr></hr>
  <br/>

  <% if @file %>
    <div id="DIV_IAMGE" style="width:105px;">
  <%#= image_tag(@file.url(:normal), :style=>"margin:0px;padding:0px", :width=>"150", :height=>"100") %>
    </div>
  <% end %>

  <div style="margin-left: 100px;width:50%;">

    <% path = create_image_path %>

    <%= form_tag(path, :method => :post,:multipart => true) do -%>

      <% field = file_field_tag "document", :style=>"height:22px;background-color:#FFF;color:#4B4B4B;padding: 2px;" %>
      <%= display_one_by_one(@file, :document, field, false, "")  %>

      <div style="clear:both;display: block;height: 10px;" ></div>

      <div style="float: right;margin-right: -45px;">
        <%= submit_tag "Save", :style=>"", :class => "BUTTON", :id=>"AVATAR" %>
      </div>
      <div style="clear:both;display: block;height: 10px;" ></div>
    <% end %>
  </div>
</div>

<%#*<iframe id='frame' name="FRAME_AVATAR" style="display:none;"></iframe>%>
