<%
# Author : Krishnaprasad Varma (kpvarma@presciencesoft.com)
# Date : 30 May, 2011
# All code (c)2011 Prescience Soft Pvt. Ltd. All rights reserved
%>

<div style="width:400px;background-color: #f6f6f6;border: solid 1px #eee;">
  <%= render :partial=>"form" %>
</div>
