<div class="HEADER">
	<center><h1 style="color:#990000;margin: 5px 0px;">Rails Project - Image hiding using jcrop & Imagemagic </h1></center>
	<div class="SHELL">
		<div class="FLOAT_LEFT">
			<%= link_to "Home", root_path ,:class=> "BUTTON" %>
	    </div>
		<div class="FLOAT_RIGHT">
		
		</div>
	</div>
</div>
